<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang=en>
<head>
  <meta charset="utf-8">
  <title>Error</title>
  <style type="text/css">
    html,code{font:15px/22px arial,sans-serif}
    html{background:#fff;color:#222;padding:15px}
    *{margin:0;padding:0}
    p{margin:22px 0 0;}
  </style>
</head>
<body>
  <p>
    <span style="font-size: 200%;color:black">{{ corpname }} Corp</span>
  </p>
  <p><b>Error.</b> {{ message }}</p>
  <p>Therefore we served HTTP status code {{ code }}.</p>
  <p></p>
</body>
</html>
