{% extends "layout.html" %}
{% block content %}
<p></p>
<table class="mdl-data-table mdl-js-data-table mdl-cell mdl-shadow--4dp" style="margin: auto;">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">url</th>
      <th>original</th>
      <th>views</th>
      <th>owner</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    {% for link in links %}
    <tr>
        <th class="mdl-data-table__cell--non-numeric"><a href="//{{ fqdn }}/{{ link.key.id }}" target="_blank" >{{ hostname }}/{{ link.key.id }}</a></th>
        <th><a href="//{{ fqdn }}/{{ link.key.id }}" target="_blank" >{{ link.url }}</a></th>
        <th>{{ link.viewcount }}</th>
        <th>{{ link.owner_name }}</th>
        <th><a href="/edit/{{ link.key.id }}"><i class="material-icons">edit</i></a></th>
    </tr>

    </a>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
