CORP_NAME = "MUNPANEL"
GOLINKS_HOSTNAME = "go"
GOLINKS_FQDN = "go.corp.munpanel.com"
URL_ALLOWED_SCHEMAS = ['http', 'https', 'mailto', 'ftp']
ENABLE_GOOGLE_GROUPS_INTEGRATION = True
USE_APP_ENGINE_SERVICE_ACCOUNT  = True
GSUITE_DIRECTORY_ADMIN_USER = "admin@munpanel.com"
